<div class="modal-header">
  <h5 class="modal-title montserrat-font" id="exampleModalLabel">Search by Name</h5>
  <button type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"></button>
</div>

<div class="p-2" style="margin:15px">
  <!--TABLE RESULTS-->
  <table class="table align-middle mb-0 bg-white">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Genres</th>
        <th scope="col">Media</th>
        <th scope="col">Rating</th>
        <th scope="col">Episodes</th>
        <th scope="col">Started Airing</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>      

      <!--LOADING-->
      <tr *ngFor="let count of loadingCount" [hidden]="!loading">
        <td>
          <div class="d-flex align-items-center">
            <ngx-skeleton-loader animation="pulse" [theme]="{height:'87px', width: '62px'}"></ngx-skeleton-loader>
            <div class="ms-3 d-flex flex-column">
              <ngx-skeleton-loader animation="pulse" [theme]="{width: '200px'}"></ngx-skeleton-loader>
              <ngx-skeleton-loader animation="pulse" [theme]="{width: '200px'}"></ngx-skeleton-loader>
            </div>
          </div>
        </td>
        <td>
          <div class="item">
            <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
          </div>
        </td>
        <td>
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
        </td>
        <td>
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
        </td>
        <td>
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
        </td>
        <td>
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
        </td>
        <td>
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
        </td>
      </tr>

      <!--SHOW LIST-->
      <tr *ngFor="let anime of animeList" [hidden]="loading">
        <td>
          <div class="d-flex align-items-center">
            <img src="{{anime.main_picture.medium}}"
                 alt="{{anime.alternative_titles.en == '' ? anime.title : anime.alternative_titles.en}}"
                 class="shadow-5"
                 style="max-width:15%" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{anime.alternative_titles.en == '' ? anime.title : anime.alternative_titles.en}}</p>
              <p class="text-muted mb-0">{{anime.title}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{anime.genresJoined}}</p>
        </td>
        <td>
          <span [ngClass]="remapBadgeColor(anime.media_type)" class="badge rounded-pill d-inline">{{remapMediaType(anime.media_type)}}</span>
        </td>
        <td class="fw-bold" style="font-size:smaller">{{anime.mean}}</td>
        <td class="fw-bold" style="font-size:smaller">{{anime.num_episodes}}</td>
        <td class="fw-bold" style="font-size:smaller">{{anime.start_date}}</td>
        <td>

          <span *ngIf="addingLoading" class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"></span>

          <button *ngIf="!addingLoading" type="button" class="btn btn-link btn-sm btn-rounded fw-bold" (click)="postAddToNotion(anime)">
              Add
          </button>
        </td>
      </tr>

     

    </tbody>
  </table>
</div>


<div class="modal-footer">  
  <button type="button" mdbRipple class="btn btn-primary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" mdbRipple class="btn btn-dark" [disabled]="loading">Add to Notion</button>
</div>
