@use "sass:selector";

.select {
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  position: relative;

  @at-root &__icon {
    color: rgb(var(--color-text-normal), .7);
    position: absolute;
    right: 15px;
    pointer-events: none;
    transition: .15s;
    display: inline-flex;
    align-items: center;
  }

  @at-root &__icon--rotated {
    transition: .15s;
    transform: rotate(-180deg);
  }

  @at-root &__icon--reset {
    color: rgb(var(--color-text-normal), .7);
    position: absolute;
    right: 15px;
  }
}
