::placeholder {
  color: rgb(var(--color-text-normal), .4);
}

.autocomplete {
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  @at-root &__input {
    width: 100%;
  }

  @at-root &__selected {
    color: rgb(var(--background-active-item)) !important;
  }

  @at-root &__hide {
    display: none;
  }

  @at-root &__option {
    display: flex;
    justify-content: space-between;
  }

  @at-root &__selected-svg {
    color: rgb(var(--background-active-item)) !important;
    width: 1rem;
  }

  @at-root &__icon {
    color: rgb(var(--color-text-normal), .7);
    position: absolute;
    right: 15px;
    pointer-events: none;
    transition: .15s;
    display: inline-flex;
    align-items: center;

    @at-root &--rotated {
      transition: .15s;
      transform: rotate(-180deg);
    }

    @at-root &--reset {
      color: rgb(var(--color-text-normal), .7);
      position: absolute;
      right: 15px;
    }
  }
}
