@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

:root {
  --color-background: 230, 236, 247;
  --color-foreground: 255, 255, 255;
  --color-foreground-light: 177, 191, 205;
  --color-text: 169, 180, 204;
  --color-text-light: 183, 208, 235;
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary: 'Overpass', sans-serif;
  --font-family-tertiary: 'Montserrat', sans-serif;
  --background-active-item: 61,180,242;
  --color-shadow: 0,5,15;
}

.dark-theme {
  --color-background: 18, 25, 43;
  --color-foreground: 14, 36, 68;
  --color-foreground-light: 99, 106, 112;
  --color-text: 88, 97, 99;
  --color-text-light: 191, 206, 217;
  --color-shadow: 0,5,15;
}

body{
    background: rgb(var(--color-background));
}
