<div class="modal-header">
  <h5 class="modal-title montserrat-font" id="exampleModalLabel">Search by Identifier</h5>
  <button type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"></button>
</div>

<div class="p-2" style="margin:15px">
  <div class="d-flex">

    <div [hidden]="loading" class="flex-shrink-0 shadow-5-strong">
      <img src="{{animeModel?.main_picture?.medium}}" class="img-fluid" alt="{{animeModel?.alternative_titles?.en}}" />
    </div>

    <div [hidden]="!loading">
      <ngx-skeleton-loader [theme]="{height:'315px', width: '225px'}" animation="pulse"></ngx-skeleton-loader>
    </div>

    <div class="d-flex flex-column m-1 w-100 align-self-center p-3 flex-grow-0">

      <!--TITLE-->
      <h4 [hidden]="loading" class="title">{{animeModel?.alternative_titles?.en}}</h4>
      <ngx-skeleton-loader [hidden]="!loading" animation="pulse"></ngx-skeleton-loader>

      <!--ORIGINAL TITLE-->
      <div class="d-flex" style="margin-top:1rem">
        <div [hidden]="loading" style="margin-bottom: 0.5rem" class="flex-fill">
          <p class="type">Original</p>
          <p class="value">{{animeModel?.title}}</p>
        </div>

        <div [hidden]="loading" style="margin-bottom: 0.5rem; margin-left:0.5rem" class="flex-fill">
          <p class="type">Kanji</p>
          <p class="value">{{animeModel?.alternative_titles?.ja}}</p>
        </div>

        <div [hidden]="!loading" class="flex-fill">
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
        </div>

      </div>

      <hr [hidden]="loading" class="hr" />

      <!--RATING-->
      <div class="d-flex">
        <div [hidden]="loading" style="margin-bottom: 0.5rem" class="flex-fill">
          <p class="type">Rating</p>
          <p class="value">{{animeModel?.mean}}</p>

          <div [hidden]="loading" class="progress">
            <div class="progress-bar bg-success" role="progressbar" [attr.aria-valuenow]="progressValue" [style]="progressPercentage" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div [hidden]="!loading" class="flex-fill">          
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
        </div>

      </div>
    </div>
  </div>

  <div [hidden]="loading" class="d-flex" style="margin-top:3rem">

    <!--BOTTOM LINE-->
    <div [hidden]="loading" style="margin-bottom: 0.5rem" class="flex-fill">
      <p class="type">Genres</p>
      <p class="value">{{animeModel?.genresJoined}}</p>
    </div>
    <div [hidden]="loading" style="margin-bottom: 0.5rem" class="flex-fill">
      <p class="type">Media</p>
      <p class="value">{{remapMediaType(animeModel?.media_type!)}}</p>
    </div>
    <div [hidden]="loading" style="margin-bottom: 0.5rem" class="flex-fill">
      <p class="type">Studio</p>
      <p class="value">{{animeModel?.studiosJoined}}</p>
    </div>
    <div [hidden]="loading" style="margin-bottom: 0.5rem" class="flex-fill">
      <p class="type">Started Airing</p>
      <p class="value">{{animeModel?.start_date}}</p>
    </div>
    <div [hidden]="loading" style="margin-bottom: 0.5rem" class="flex-fill">
      <p class="type">Episodes</p>
      <p class="value">{{animeModel?.num_episodes}}</p>
    </div>

  </div>

  <div [hidden]="!loading" class="d-flex">
    <div [hidden]="!loading" class="flex-fill">
      <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
      <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
    </div>
  </div>

</div>


<div class="modal-footer">
  <div class="me-auto" mdbTooltip="Multi Season Identifier should be specified when one show consists in multiple records in Notion, like multiple seasons, special episodes or movies.
                          The value should be the general name of the show by which all these records are grouped.
                          If left empty, by default the value used is the title of the show as written on MAL." [delayShow]="tooltipDelay">
    <div class="input-group" style="width: auto">
      <input mdbInput [disabled]="multiSeasonInputDisabled"
             type="text" class="form-control form-control-sm montserrat-font" aria-label="Example text with button addon" aria-describedby="button-addon1" placeholder="Multi Season Identifier" />
      <div *ngIf="multiSeasonEditBtn">
        <button (click)="editMultiSeasonId()" class="btn btn-outline-dark" type="button" id="button-addon1" mdbRipple rippleColor="dark" [disabled]="loading">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </div>
      <div *ngIf="multiSeasonCheckBtn">
        <button (click)="confirmMultiSeasonId()" class="btn btn-outline-success" type="button" id="button-addon2" mdbRipple rippleColor="dark">
          <i class="fa-solid fa-check"></i>
        </button>
      </div>
    </div>
  </div>
  <button type="button" mdbRipple class="btn btn-primary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" mdbRipple class="btn btn-dark" [disabled]="loading">Add to Notion</button>
</div>
