@use '../../assets/scss/_container.scss';
@use "../../assets/scss/_skeleton.scss" as *;

$cover-width: 180px;
$cover-width-small: 140px;
$cover-height: $cover-width * 1.5;
$cover-height-small: $cover-width-small * 1.5;

.box-top {
  background: rgb(var(--color-foreground));
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 0;

  @media screen and (max-width: 500px) {
    & {
      height: 150px;
    }
  }

  @at-root &__container {
    padding-left: 50px+$cover-width;
    padding-right: 50px;

    @media screen and (max-width: 1540px) {
      & {
        padding-left: 25px+$cover-width;
      }
    }

    @media screen and (max-width: 1040px) {
      & {
        padding-left: $cover-width-small;
      }
    }

    @media screen and (max-width: 500px) {
      & {
        padding-left: $cover-width-small;
        padding-right: 0;
      }
    }
  }

  @at-root &__title {
    padding: 0 30px;

    @media screen and (max-width: 760px) {
      & {
        padding: 0 15px;
      }
    }
  }

  @at-root &__title-value {
    font-family: var(--font-family-secondary);
    color: rgb(var(--color-text-highlight));
    font-size: 26px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    @media screen and (max-width: 1040px) {
      & {
        font-size: 22px;
      }
    }

    @media screen and (max-width: 500px) {
      & {
        font-size: 20px;
      }
    }

    @at-root &--loading {
      border-radius: 4px;
      height: 30px;
      margin-top: 5px;
      width: 70%;
      background: rgba(var(--color-skeleton-contrast),1);
      box-shadow: none;
      opacity: 1;
      overflow: hidden;
      padding: 0;

      &:before {
        @include skeleton;
        @include skeleton-animation;
      }
    }
  }

  @at-root &__title-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    top: -2px;
    background: rgb(var(--background-active-item));

    @at-root &--towatch {
      background: #F4C900;
    }

    @at-root &--watching {
      background: rgb(var(--background-active-item));
    }

    @at-root &--completed {
      background: green;
    }
  }
}

.content {
  background: rgb(var(--color-background));
}

.header {
  padding: 0 50px;
  display: grid;
  grid-template-columns: $cover-width auto;
  grid-gap: 30px;
  align-items: center;

  @media screen and (max-width: 1540px) {
    & {
      padding: 0 25px;
    }
  }

  @media screen and (max-width: 1040px) {
    & {
      padding: 0;
      grid-template-columns: $cover-width-small auto;
    }
  }

  @media screen and (max-width: 760px) {
    & {
      padding: 0;
      grid-gap: 15px;
    }
  }

  @at-root &__cover-wrapper {
    position: relative;
    width: $cover-width;
    height: $cover-height;
    margin-top: -175px;
    overflow: hidden;
    box-shadow: var(--box-shadow);

    @media screen and (max-width: 1040px) {
      & {
        width: $cover-width-small;
        height: $cover-height-small;
        margin-top: -135px;
      }
    }
  }

  @at-root &__cover {
    position: static;
    border-radius: 5px;
    height: 100%;

    @at-root &--loading {
      background: rgba(var(--color-skeleton-contrast),1);
      box-shadow: none;
      opacity: 1;
      overflow: hidden;

      &:before {
        @include skeleton;
        @include skeleton-animation;
      }
    }
  }

  @at-root &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
  }

  @at-root &__title {
    font-family: var(--font-family-secondary);
    color: rgb(var(--color-text-normal));
    font-size: 18px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    @media screen and (max-width: 500px) {
      & {
        font-size: 16px;
      }
    }

    @at-root &--loading {
      border-radius: 4px;
      height: 24px;
      margin-top: 5px;
      width: 50%;
      background: rgba(var(--color-skeleton-contrast),.8);
      box-shadow: none;
      opacity: 1;
      overflow: hidden;
      padding: 0;

      &:before {
        @include skeleton;
        @include skeleton-animation;
      }
    }
  }
}

.main {
  padding: 0 50px;
  display: grid;
  grid-template-columns: $cover-width auto;
  grid-gap: 30px;
  margin-top: 30px;

  @media screen and (max-width: 1540px) {
    & {
      padding: 0 25px;
    }
  }

  @media screen and (max-width: 1040px) {
    & {
      padding: 0;
      grid-template-columns: $cover-width-small auto;
    }
  }

  @media screen and (max-width: 760px) {
    & {
      padding: 0;
      display: block;
    }
  }
}

.synopsis {
  font-family: var(--font-family-secondary);
  font-size: .8em;
  color: rgb(var(--color-text-normal));
  margin-bottom: 30px;

  @at-root &__title {
    text-align: center;
    line-height: 1rem;
  }

  @at-root &__icon {
    margin: 0 auto;
    width: 0.65rem;
    line-height: 1rem;
  }
}

.info {

  @at-root &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;

    @at-root &--single-row {
      grid-template-columns: 1fr;
    }
  }

  @at-root &__button {
    background: rgb(var(--color-foreground));
    border-radius: 5px;
    display: flex;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(var(--color-text-highlight));
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    max-height: 42px;

    @at-root &--id {
      text-decoration: none;
      color: rgb(var(--color-text-highlight));
      user-select: none;
      font-family: var(--font-family-tertiary);
      font-weight: 800;

      &:hover {
        cursor: pointer;
        color: rgb(var(--background-active-item));
        transition: .25s;
      }
    }
  }

  @at-root &__button-icon {
    width: 1rem;
    cursor: pointer;

    &:hover {
      color: rgb(var(--color-text-normal));
      transition: .2s;
    }

    @at-root &--selected {
      color: rgb(var(--background-danger-item), .9);

      &:hover {
        color: rgb(var(--background-danger-item));
        transition: .2s;
      }
    }

    @at-root &--plan-selected {
      color: rgb(var(--background-active-item), .9);

      &:hover {
        color: rgb(var(--background-active-item));
        transition: .2s;
      }
    }
  }

  @at-root &__list {
    background: rgb(var(--color-foreground));
    border-radius: 5px;
    padding: 15px 25px;

    @media screen and (max-width: 760px) {
      & {
        display: flex;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 30px;
      }
    }
  }

  @at-root &__item {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 760px) {
      & {
        padding-right: 25px;
      }

      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }

  @at-root &__title {
    font-weight: 700;
    color: rgb(var(--color-text-highlight));

    @at-root &--loading {
      border-radius: 4px;
      height: 16px;
      //margin-top: 5px;
      width: 100%;
      background: rgba(var(--color-skeleton-contrast),1);
      box-shadow: none;
      opacity: 1;
      overflow: hidden;
      padding: 0;

      &:before {
        @include skeleton;
        @include skeleton-animation;
      }

      @media screen and (max-width: 760px) {
        width: 100px;
      }
    }
  }

  @at-root &__value {
    font-weight: 300;
    color: rgb(var(--color-text-normal));

    @media screen and (max-width: 760px) {
      & br {
        display: none;
      }

      & > span:not(:last-child):after {
        content: ", ";
      }
    }

    @at-root &--loading {
      border-radius: 4px;
      height: 14px;
      margin-top: 8px;
      width: 90%;
      background: rgba(var(--color-skeleton-contrast),1);
      box-shadow: none;
      opacity: 1;
      overflow: hidden;
      padding: 0;

      &:before {
        @include skeleton;
        @include skeleton-animation;
      }

      @media screen and (max-width: 760px) {
        width: 90px;
      }
    }

    @at-root &--upper {
      text-transform: uppercase;
    }
  }
}

.edit  {
  background: rgb(var(--color-foreground));
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 90px;
  grid-row-gap: 45px;
  grid-column-gap: 90px;
  height: min-content;
  width: 100%;

  @media screen and (max-width: 1540px) {
    & {
      padding: 30px 45px;
      grid-column-gap: 60px;
    }
  }

  @media screen and (max-width: 1040px) {
    & {
      grid-column-gap: 30px;
      grid-row-gap: 25px;
      padding: 20px 20px;
    }
  }

  @media screen and (max-width: 760px) {
    & {
      display: block;
    }
  }

  @at-root &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media screen and (max-width: 760px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @at-root &--row-full {
      grid-column: span 2;

      @media screen and (max-width: 760px) {
        & {
          grid-column: initial;
        }
      }
    }
  }

  @at-root &__name {
    color: rgb(var(--color-text-highlight));
    font-family: var(--font-family-secondary);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 7px;
    user-select: none;
  }

  @at-root &__buttons {
    display: grid;
    grid-template-columns: auto 100px 100px;
  }

  @at-root &__button {
    height: 42px;
    background: rgb(var(--color-background));
    border-radius: 6px;
    display: flex;
    padding: 5px 10px;
    margin-left: 15px;
    font-family: var(--font-family-secondary);
    font-size: 13px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: rgb(var(--color-text-highlight));
    cursor: pointer;
    user-select: none;

    &:hover {
      color: rgb(220, 237, 250);
    }

    @at-root &--delete {
      grid-column-start: 2;

      &:hover {
        transition: .25s;
        background: rgb(var(--background-danger-item));
      }
    }

    @at-root &--save {
      grid-column-start: 3;

      &:hover {
        transition: .35s;
        background: rgb(var(--background-active-item));
      }
    }
  }
}

.overview {
  background: rgb(var(--color-foreground));
  border-radius: 5px;
  padding: 40px 90px;
  height: min-content;
  width: 100%;
  color: rgb(var(--color-text-normal));
  font-family: rgb(var(--font-family-secondary));
  font-size: 14px;

  @media screen and (max-width: 1540px) {
    & {
      padding: 30px 45px;
    }
  }

  @media screen and (max-width: 1040px) {
    & {
      padding: 20px 20px;
    }
  }
}
