<div>

  <!--SEARCHBAR-->
  <div class="search-area">
    <div class="search-bar">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" />
      </svg>
      <div class="search-input-wrapper">
        <input type="text" placeholder="Search..." class="search-input" [(ngModel)]="searchTerm" (keyup)="search(getEventType($event))">
      </div>
      <div class="search-mode">
        <div class="select" [class.active]="searchById" (click)="switchMode(true)">
          <span>ID</span>
        </div>
        <div class="select" [class.active]="!searchById" (click)="switchMode(false)">
          <span>TITLE</span>
        </div>
      </div>
    </div>
  </div>


  <ng-container *ngIf="!searching">
    <!--SEASONAL-->
    <div class="category-area">
      <div class="category-container">
        <span class="category-title">SEASONAL</span>
        <div class="category-shows">

          <ng-container *ngIf="(seasonalList$ | async) || seasonalListStatic; else skeleton">
            <div *ngFor="let item of seasonalListStatic" class="category-shows-item">
              <a class="cover" @opacityOnEnter>
                <img class="cover-image" src="{{item.main_picture.medium}}">
              </a>
              <a class="show-title">
                {{item.alternative_titles.en ? item.alternative_titles.en : item.title}}
              </a>
            </div>
          </ng-container>

        </div>
      </div>
    </div>

    <!--NEXT SEASON-->
    <div class="category-area" style="padding-top: 30px">
      <div class="category-container">
        <span class="category-title">NEXT SEASON</span>

        <div class="category-shows">
          <ng-container *ngIf="seasonalList$ | async as seasonalList; else skeleton">
            <div *ngFor="let item of seasonalList" class="category-shows-item">
              <a class="cover" @opacityOnEnter>
                <img class="cover-image" src="{{item.main_picture.medium}}">
              </a>
              <a class="show-title">
                {{item.alternative_titles.en ? item.alternative_titles.en : item.title}}
              </a>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="searching">
    <div class="category-area">
      <div class="category-container">
        <div class="category-shows">

          <ng-container *ngIf="searchResult$ | async as searchResult; skeleton">
            <ng-container *ngIf="searchResult?.list">
              <div *ngFor="let item of searchResult?.list" class="category-shows-item">
                <a class="cover" @opacityOnEnter>
                  <img class="cover-image" src="{{item.main_picture.medium}}">
                </a>
                <a class="show-title">
                  {{item.alternative_titles.en ? item.alternative_titles.en : item.title}}
                </a>
              </div>
            </ng-container>
            <ng-container *ngIf="searchResult?.loading; then skeleton"></ng-container>
          </ng-container>

        </div>
      </div>
    </div>
  </ng-container>
</div>



<!--SKELETON TEMPLATE-->
<ng-template #skeleton>  
    <div *ngFor="let item of seasonalSkeleton" class="category-shows-item">
      <div class="cover loading" @scaleUpOnEnter></div>
      <div class="show-title loading"></div>
    </div>  
</ng-template>
