<div class="container" role="main">

  <div class="browse">
    Browse

    <span class="browse__mode" (click)="switchMode()">
      {{searchMode}}
      <svg class="browse__icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
        <path fill="currentColor" d="M142.9 142.9c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5c0 0 0 0 0 0H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5c7.7-21.8 20.2-42.3 37.8-59.8zM16 312v7.6 .7V440c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l41.6-41.6c87.6 86.5 228.7 86.2 315.8-1c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.2 62.2-162.7 62.5-225.3 1L185 329c6.9-6.9 8.9-17.2 5.2-26.2s-12.5-14.8-22.2-14.8H48.4h-.7H40c-13.3 0-24 10.7-24 24z" />
      </svg>
    </span>

  </div>

  <!--!SEARCHBAR-->
  <div class="search-area">

    <div class="search-area__searchbar">
      <app-searchbar (valueChanged)="search($event)"></app-searchbar>
    </div>

    <div class="search-area__mode" (click)="switchMode()">
      <div class="search-area__option" [class.active]="searchById">
        <span>{{searchMode}}</span>
      </div>
      <svg class="search-area__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="M142.9 142.9c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5c0 0 0 0 0 0H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5c7.7-21.8 20.2-42.3 37.8-59.8zM16 312v7.6 .7V440c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l41.6-41.6c87.6 86.5 228.7 86.2 315.8-1c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.2 62.2-162.7 62.5-225.3 1L185 329c6.9-6.9 8.9-17.2 5.2-26.2s-12.5-14.8-22.2-14.8H48.4h-.7H40c-13.3 0-24 10.7-24 24z" />
      </svg>
    </div>

  </div>

  <ng-container *ngIf="!searching">
    <!--!SEASONAL-->
    <div class="show-visualization">
      <div class="show-visualization__container">
        <span class="show-visualization__title">SEASONAL</span>
        <div class="show-visualization__shows">

          <ng-container *ngIf="seasonalListStatic || (seasonalList$ | async); else skeleton">
            <div *ngFor="let item of seasonalListStatic; let i = index" class="show-visualization__item" (mouseenter)="seasonalListTracker[i] = true" (mouseleave)="seasonalListTracker[i] = false">
              <a class="show-visualization__cover">
                <img class="show-visualization__image" [class.show-visualization__image--loaded]="seasonalListImages[i] == true" src="{{item.cover}}" (click)="editItem(item)" (load)="seasonalListImages[i] = true">

                <!--BUTTONS-->
                <ng-container *ngTemplateOutlet="buttons; context: { item: item, list: seasonalListTracker, index: i }"></ng-container>

              </a>
              <a class="show-visualization__show-title" (click)="editItem(item)">
                <div *ngIf="item.info" class="show-visualization__show-circle"
                     [ngClass]="{ 'show-visualization__show-circle--towatch': item.info.status == 'To Watch',
                                  'show-visualization__show-circle--watching': item.info.status == 'Watching',
                                  'show-visualization__show-circle--completed': item.info.status == 'Completed'  }"></div>
                {{item.nameEnglish}}
              </a>

              <div #hover class="show-visualization__show-hover show-visualization__show-hover--right" [class.show-visualization__show-hover--active]="seasonalListTracker[i] == true">
                   

                <!--HEADER-->
                <div class="show-visualization__header" *ngIf="item.startedAiring != null">
                  <div>
                    {{ item.startedAiring | date: 'longDate' }}
                  </div>
                  <div *ngIf="item!.score != null">

                    <!--SMILE-->
                    <svg class="show-visualization__icon show-visualization__icon--good" *ngIf="item!.score > 70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm177.6 62.1C192.8 334.5 218.8 352 256 352s63.2-17.5 78.4-33.9c9-9.7 24.2-10.4 33.9-1.4s10.4 24.2 1.4 33.9c-22 23.8-60 49.4-113.6 49.4s-91.7-25.5-113.6-49.4c-9-9.7-8.4-24.9 1.4-33.9s24.9-8.4 33.9 1.4zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                    </svg>

                    <!--MEH-->
                    <svg class="show-visualization__icon show-visualization__icon--meh" *ngIf="item!.score >= 50 && item!.score <= 70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM176.4 240a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm192-32a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM184 328c-13.3 0-24 10.7-24 24s10.7 24 24 24H328c13.3 0 24-10.7 24-24s-10.7-24-24-24H184z" />
                    </svg>

                    <!--BAD-->
                    <svg class="show-visualization__icon show-visualization__icon--bad" *ngIf="item!.score > 0 && item!.score < 50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM174.6 384.1c-4.5 12.5-18.2 18.9-30.7 14.4s-18.9-18.2-14.4-30.7C146.9 319.4 198.9 288 256 288s109.1 31.4 126.6 79.9c4.5 12.5-2 26.2-14.4 30.7s-26.2-2-30.7-14.4C328.2 358.5 297.2 336 256 336s-72.2 22.5-81.4 48.1zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                    </svg>
                    <span class="show-visualization__percentage">{{item.score}}%</span>

                  </div>
                </div>

                <!--FORMAT-->
                <div class="show-visualization__format" *ngIf="item.format != null">
                  <span>
                    {{item.format}}
                  </span>
                  <ng-container *ngIf="item.episodes! > 1">
                    <span class="show-visualization__separator">•</span>
                    <span>
                      {{item.episodes}} Episodes
                    </span>
                  </ng-container>
                </div>

                <!--STUDIO-->
                <div class="show-visualization__studio">
                  <span *ngFor="let studio of item.studios!">{{studio.value}}</span>
                </div>

              </div>

            </div>
          </ng-container>

        </div>
      </div>
    </div>

    <!--!NEXT SEASON-->
    <div class="show-visualization" style="padding-top: 30px">
      <div class="show-visualization__container">
        <span class="show-visualization__title">NEXT SEASON</span>

        <div class="show-visualization__shows">
          <ng-container *ngIf="nextSeasonList$ | async as nextSeasonList; else skeleton">
            <div *ngFor="let item of nextSeasonListStatic; let i = index" class="show-visualization__item" (mouseenter)="nextSeasonTracker[i] = true" (mouseleave)="nextSeasonTracker[i] = false">
              <a class="show-visualization__cover">
                <img class="show-visualization__image" [class.show-visualization__image--loaded]="nextSeasonImages[i] == true" src="{{item.cover}}" (click)="editItem(item)" (load)="nextSeasonImages[i] = true">

                <!--BUTTONS-->
                <ng-container *ngTemplateOutlet="buttons; context: { item: item, list: nextSeasonTracker, index: i }"></ng-container>

              </a>
              <a class="show-visualization__show-title" (click)="editItem(item)">
                <div *ngIf="item.info" class="show-visualization__show-circle"
                     [ngClass]="{ 'show-visualization__show-circle--towatch': item.info.status == 'To Watch',
                                  'show-visualization__show-circle--watching': item.info.status == 'Watching',
                                  'show-visualization__show-circle--completed': item.info.status == 'Completed'  }"></div>
                {{item.nameEnglish}}
              </a>

              <div class="show-visualization__show-hover" [class.show-visualization__show-hover--active]="nextSeasonTracker[i] == true">

                <!--HEADER-->
                <div class="show-visualization__header" *ngIf="item.startedAiring != null">
                  <div>
                    {{ item.startedAiring | date: 'longDate' }}
                  </div>
                  <div *ngIf="item!.score != null">

                    <!--SMILE-->
                    <svg class="show-visualization__icon show-visualization__icon--good" *ngIf="item!.score > 70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm177.6 62.1C192.8 334.5 218.8 352 256 352s63.2-17.5 78.4-33.9c9-9.7 24.2-10.4 33.9-1.4s10.4 24.2 1.4 33.9c-22 23.8-60 49.4-113.6 49.4s-91.7-25.5-113.6-49.4c-9-9.7-8.4-24.9 1.4-33.9s24.9-8.4 33.9 1.4zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                    </svg>

                    <!--MEH-->
                    <svg class="show-visualization__icon show-visualization__icon--meh" *ngIf="item!.score >= 50 && item!.score <= 70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM176.4 240a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm192-32a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM184 328c-13.3 0-24 10.7-24 24s10.7 24 24 24H328c13.3 0 24-10.7 24-24s-10.7-24-24-24H184z" />
                    </svg>

                    <!--BAD-->
                    <svg class="show-visualization__icon show-visualization__icon--bad" *ngIf="item!.score > 0 && item!.score < 50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM174.6 384.1c-4.5 12.5-18.2 18.9-30.7 14.4s-18.9-18.2-14.4-30.7C146.9 319.4 198.9 288 256 288s109.1 31.4 126.6 79.9c4.5 12.5-2 26.2-14.4 30.7s-26.2-2-30.7-14.4C328.2 358.5 297.2 336 256 336s-72.2 22.5-81.4 48.1zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                    </svg>
                    <span class="show-visualization__percentage">{{item.score}}%</span>

                  </div>
                </div>

                <!--FORMAT-->
                <div class="show-visualization__format" *ngIf="item.format != null">
                  <span>
                    {{item.format}}
                  </span>
                  <ng-container *ngIf="item.episodes! > 1">
                    <span class="show-visualization__separator">•</span>
                    <span>
                      {{item.episodes}} Episodes
                    </span>
                  </ng-container>
                </div>

                <!--STUDIO-->
                <div class="show-visualization__studio">
                  <span *ngFor="let studio of item.studios!">{{studio.value}}</span>
                </div>

              </div>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </ng-container>

  <!--!SEARCH RESULT-->
  <ng-container *ngIf="searching">
    <div class="show-visualization" *ngIf="noResults === false; else noResultsCont">
      <div class="show-visualization__container">
        <div class="show-visualization__shows">

          <ng-container *ngIf="searchResult$ | async as searchResult; else skeleton">
            <ng-container *ngIf="searchResult?.list!.length > 0">
              <div *ngFor="let item of searchResult?.list; let i = index" class="show-visualization__item" (mouseenter)="searchResultTracker[i] = true" (mouseleave)="searchResultTracker[i] = false">
                <a class="show-visualization__cover">
                  <img class="show-visualization__image" [class.show-visualization__image--loaded]="searchResultImages[i] == true" src="{{item.cover}}" (click)="editItem(item)" (load)="searchResultImages[i] = true">

                  <!--BUTTONS-->
                  <ng-container *ngTemplateOutlet="buttons; context: { item: item, list: searchResultTracker, index: i }"></ng-container>

                </a>
                <a class="show-visualization__show-title" (click)="editItem(item)">
                  <div *ngIf="item.info" class="show-visualization__show-circle"
                       [ngClass]="{ 'show-visualization__show-circle--towatch': item.info.status == 'To Watch',
                                  'show-visualization__show-circle--watching': item.info.status == 'Watching',
                                  'show-visualization__show-circle--completed': item.info.status == 'Completed'  }"></div>
                  {{item.nameEnglish}}
                </a>

                <div class="show-visualization__show-hover" [class.show-visualization__show-hover--active]="searchResultTracker[i] == true">

                  <!--HEADER-->
                  <div class="show-visualization__header" *ngIf="item.startedAiring != null">
                    <div>
                      {{ item.startedAiring | date: 'longDate' }}
                    </div>
                    <div *ngIf="item!.score != null">

                      <!--SMILE-->
                      <svg class="show-visualization__icon show-visualization__icon--good" *ngIf="item!.score > 70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm177.6 62.1C192.8 334.5 218.8 352 256 352s63.2-17.5 78.4-33.9c9-9.7 24.2-10.4 33.9-1.4s10.4 24.2 1.4 33.9c-22 23.8-60 49.4-113.6 49.4s-91.7-25.5-113.6-49.4c-9-9.7-8.4-24.9 1.4-33.9s24.9-8.4 33.9 1.4zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                      </svg>

                      <!--MEH-->
                      <svg class="show-visualization__icon show-visualization__icon--meh" *ngIf="item!.score >= 50 && item!.score <= 70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM176.4 240a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm192-32a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM184 328c-13.3 0-24 10.7-24 24s10.7 24 24 24H328c13.3 0 24-10.7 24-24s-10.7-24-24-24H184z" />
                      </svg>

                      <!--BAD-->
                      <svg class="show-visualization__icon show-visualization__icon--bad" *ngIf="item!.score > 0 && item!.score < 50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM174.6 384.1c-4.5 12.5-18.2 18.9-30.7 14.4s-18.9-18.2-14.4-30.7C146.9 319.4 198.9 288 256 288s109.1 31.4 126.6 79.9c4.5 12.5-2 26.2-14.4 30.7s-26.2-2-30.7-14.4C328.2 358.5 297.2 336 256 336s-72.2 22.5-81.4 48.1zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                      </svg>
                      <span class="show-visualization__percentage">{{item.score}}%</span>

                    </div>
                  </div>

                  <!--FORMAT-->
                  <div class="show-visualization__format" *ngIf="item.format != null">
                    <span>
                      {{item.format}}
                    </span>
                    <ng-container *ngIf="item.episodes! > 1">
                      <span class="show-visualization__separator">•</span>
                      <span>
                        {{item.episodes}} Episodes
                      </span>
                    </ng-container>
                  </div>

                  <!--STUDIO-->
                  <div class="show-visualization__studio">
                    <span *ngFor="let studio of item.studios!">{{studio.value}}</span>
                  </div>

                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="searchResult?.loading; then skeleton"></ng-container>
          </ng-container>

        </div>
      </div>
    </div>
  </ng-container>
</div>




<!--!TEMPLATES-->

<!--SKELETON TEMPLATE-->
<ng-template #skeleton>
  <div *ngFor="let item of seasonalSkeleton" class="show-visualization__item">
    <div class="show-visualization__cover show-visualization__cover--loading" @scaleUpOnEnter></div>
    <div class="show-visualization__show-title show-visualization__show-title--loading"></div>
  </div>
</ng-template>

<!--NO RESULTS TEMPLATE-->
<ng-template #noResultsCont>
  <div class="no-results" @opacityOnEnter>No Results</div>
</ng-template>

<!--BUTTONS TEMPLATE-->
<ng-template #buttons let-item="item" let-list="list" let-i="index">

  <div (mouseenter)="showEditButton = true" (mouseleave)="showEditButton = false">

    <div class="show-buttons" *ngIf="list[i]" @totalScale_OpacityOnEnter (@totalScale_OpacityOnEnter.start)="suppressEditAnim = true" (@totalScale_OpacityOnEnter.done)="suppressEditAnim = false">

      <div class="show-buttons__item--main">

        <!--ADD BUTTON-->
        <div class="show-buttons__item" matTooltip="Add to Library" matTooltipClass="show-buttons__item--tooltip" matTooltipPosition="left" *ngIf="!item.info" (click)="addBaseItem(item)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="show-buttons__icon show-buttons__icon--s">
            <path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z" />
          </svg>
        </div>

        <!--REMOVE BUTTON-->
        <div class="show-buttons__item" matTooltip="Remove from Library" matTooltipClass="show-buttons__item--tooltip" matTooltipPosition="left" *ngIf="item.info" (click)="removeItem(item)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="show-buttons__icon show-buttons__icon--m">
            <path fill="currentColor" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
          </svg>
        </div>
      </div>

      <!--EDIT BUTTON-->
      <div [@.disabled]="suppressEditAnim">
        <div class="show-buttons__item" matTooltip="Edit" matTooltipClass="show-buttons__item--tooltip" matTooltipPosition="left" *ngIf="showEditButton" @totalScaleUp_Opacity_MarginOnEnter>
          <div (click)="editItem(item)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="show-buttons__icon show-buttons__icon--l">
              <path fill="currentColor" d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
            </svg>
          </div>
        </div>
      </div>     

    </div>

  </div>
</ng-template>
