.datepicker {
  display: grid;
  grid-template-columns: 30px auto;
  padding: 0 8px;
  align-items: center;
  justify-items: center;
  cursor: pointer;

  @at-root &__input {
    padding: 0 6px;
    height: 100%;
  }

  @at-root &__icon {
    width: .8rem;
    margin-top: -5px;
  }

  @at-root &__trigger {
    margin-top: 0;
  }
}

