.vr-blurry {
  background-image: linear-gradient(180deg,transparent,#666,transparent);
  background-color: transparent;
  width: 1px;
  opacity: .25;
}

.opacity-1 {
    opacity : 1;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: x-small
}

.montserrat-sm {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: xx-small
}
