
.navbar {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: rgb(11, 27, 57) !important;
  color: rgb(214, 230, 243);
  letter-spacing: 1px;
  font-size: 13px;
  box-shadow: initial;

  @media screen and (max-width: 1040px) {
    & {
      display: none;
    }
  }
}

.navbar-light, .navbar-nav, .nav-link {
  color: rgb(214, 230, 243);

  &:hover {
    transition: 0.15s;
    color: rgb(173, 186, 204);
  }
}

.logo{
    width: 60px;
}

.theme-switcher{
    width: 60px;
    cursor:pointer;

    & .icon{
        width: 1em;
    }
}

.links{
    display:flex;
    justify-items: center;
}
