<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <a class="nav-link logo" href="#">A2N</a>
    <div class="links">
      <a class="nav-link" href="#">Home</a>
      <a class="nav-link" href="#">Browse</a>
      <a class="nav-link" href="#">Latest</a>
    </div>
    <a *ngIf="isDarkTheme()" class="nav-link theme-switcher" href="#" (click)="switchTheme(false)">
      <svg class="theme-switcher icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z" />
      </svg>
    </a>
    <a *ngIf="!isDarkTheme()" class="nav-link theme-switcher" href="#" (click)="switchTheme(true)">
      <svg class="theme-switcher icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path fill="currentColor" d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z" />
      </svg>
    </a>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container" role="main">
    <app-search-anime></app-search-anime>
</div>








<!--OLDPAGE-->
<!--LATEST ADDS-->
<!--<div class="row row-cols-1 row-cols-md-3 g-4">

  <div *ngFor="let latest of latestAdded" class="col" style="padding-top:0">
    <div *ngIf="!loading" class="card w-75 h-100" style="width: 18rem;">
      <img src="{{latest.cover}}" class="card-img-top" alt="{{latest.title}}" style="width:100%" />
      <div class="card-body" style="padding: 1rem; text-align: center">
        <p class="card-text montserrat">{{latest.title}}</p>
      </div>
      <div class="card-footer text-muted montserrat-sm">Added on {{latest.createdTime}}</div>
    </div>
  </div>

  <div class="col" style="padding-top:0">
    <div *ngIf="loading" class="w-75 h-100" style="width: 18rem; padding-left:2rem; padding-right:2rem">
      <ngx-skeleton-loader animation="pulse" [theme]="{height:'363px', width: '200px'}"></ngx-skeleton-loader>
    </div>
  </div><div class="col" style="padding-top:0">
    <div *ngIf="loading" class="w-75 h-100" style="width: 18rem; padding-left:2rem; padding-right:2rem">
      <ngx-skeleton-loader animation="pulse" [theme]="{height:'363px', width: '200px'}"></ngx-skeleton-loader>
    </div>
  </div><div class="col" style="padding-top:0">
    <div *ngIf="loading" class="w-75 h-100" style="width: 18rem; padding-left:2rem; padding-right:2rem">
      <ngx-skeleton-loader animation="pulse" [theme]="{height:'363px', width: '200px'}"></ngx-skeleton-loader>
    </div>
  </div>

</div>

<hr class="hr" style="margin-bottom:3rem"/>-->
<!-- Resources -->
<!--<h1>Anime details to Notion</h1>
<p>Choose your preferred searching method:</p>

<hr class="hr">

<div class="d-flex justify-content-evenly align-items-center">
  <div class="col-md-6 px-4">
    <div class="input-group rounded">
      <input #searchId type="search" class="form-control rounded" placeholder="Insert MAL Identifier" aria-label="Search" aria-describedby="search-addon" (keyup.enter)="openByIdModal(searchId.value)" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
  <div class="col-md-12 vr vr-blurry" style="height: 250px;"></div>
  <div class="col-md-6 px-4">
    <div class="input-group rounded col-md-6">
      <input #searchName type="search" class="form-control rounded" placeholder="Insert Show Title" aria-label="Search" aria-describedby="search-addon" (keyup.enter)="openByNameModal(searchName.value)" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
</div>-->
<!-- Footer -->
<!--<footer style="flex-direction:column">
  <div class="row" style="margin-bottom:20px">
    <div class="col-12">Ended up here by mistake? Feel free to visit:&nbsp;</div>
  </div>
  <div class="row ">
    <div class="col-12 d-flex">
      <a target="_blank" class="px-2" style="color: black;" href="https://github.com/lucagazzardi/NotionAnimeTracker" role="button">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a target="_blank" class="px-2" style="color: #ac2bac;" href="https://www.instagram.com/imgazza/" role="button">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
    </div>
  </div>
</footer>-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
