
.navbar {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: rgb(11, 28, 69) !important;
  color: rgb(214, 230, 243);
  letter-spacing: 1px;
  font-size: 13px;
  box-shadow: initial;
}

.navbar-light, .navbar-nav, .nav-link {
  color: rgb(214, 230, 243);

  &:hover {
    transition: 0.15s;
    color: rgb(173, 186, 204);
  }
}

.logo{
    width: 60px;
}

.theme-switcher{
    width: 60px;

    & .icon{
        width: 1em;
    }
}

.theme-switcher-icon{

}

.links{
    display:flex;
    justify-items: center;
}

.container{
    min-width: 320px;
    width: 100%;
}

@media screen and (min-width: 1540px){
  .container {
    max-width: 1520px;
    padding: 0 100px 0 100px;
  }
}

@media screen and (min-width: 1040px) and (max-width: 1540px){
  .container {
    max-width: 1140px;
    padding: 0 30px 0 30px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1040px) {
  .container {
    max-width: 860px;
    padding: 0 30px 0 30px;
  }
}

@media screen and (min-width: 400px) and (max-width: 760px) {
  .container {
    max-width: 660px;
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0 10px 0 10px;
  }
}
