
<ng-template #loading>  
  <div class="loader">
    <img src="../../assets/images/loading.gif">
  </div>
</ng-template>

<div class="episodes" *ngIf="(episodesList$ | async) as episodes; else loading">
  <ng-container *ngIf="episodes.length > 0; else noepisodes">
    <div class="episodes__item-wrapper" *ngFor="let episode of episodes; let i = index" @opacityOnEnter>

      <div class="episodes__item">

        <!--FIRST GRID COLUMN-->
        <div class="episodes__number">
          <span>{{episode.episodeNumber}}</span>
        </div>

        <!--SECOND GRID COLUMN-->
        <div class="episodes__title-wrapper">
          <div class="episodes__title episodes__title--main">
            {{episode.titleEnglish}}
          </div>
          <div class="episodes__title episodes__title--secondary">
            {{episode.titleJapanese}}
          </div>          
        </div>     

      </div>

    </div>
  </ng-container>

  <ng-template #noepisodes>
    <div class="episodes__item-wrapper episodes__no-episodes" @scaleUpOnEnter>
      No episodes available yet
    </div>
  </ng-template>
</div>
