<div class="episodes">

  <div class="episodes__item-wrapper">

    <div class="episodes__item">

      <!--FIRST GRID COLUMN-->
      <div class="episodes__status-wrapper">
        <div class="episodes__status"
             [ngClass]="{ 'episodes__status--watched': true,
                  'episodes__status--not-watched': false }"></div>
      </div>

      <!--SECOND GRID COLUMN-->
      <div class="episodes__number">
        <span>1</span>
      </div>

      <!--THIRD GRID COLUMN-->
      <div class="episodes__title-wrapper">
        <div class="episodes__title episodes__title--main">
          Modern List UI Design
        </div>
        <div class="episodes__title episodes__title--secondary">
          日本語で何か
        </div>
        <div class="episodes__title" [ngClass]="{ 'episodes__title--not-watched' : false, 'episodes__title--watched-on': true  }">
          Watched on 28/02/2024
        </div>
      </div>

      <!--FOURTH GRID COLUMN-->
      <div class="episodes__buttons-wrapper">
        <div class="episodes__button episodes__button--delete">
          <span>Delete</span>
        </div>
        <div class="episodes__button episodes__button--save">
          <span>Watched</span>
        </div>
      </div>

    </div>




  </div>

  <div class="episodes__item-wrapper">

    <div class="episodes__item">

      <!--FIRST GRID COLUMN-->
      <div class="episodes__status-wrapper">
        <div class="episodes__status"
             [ngClass]="{ 'episodes__status--watched': true,
                'episodes__status--not-watched': false }"></div>
      </div>

      <!--SECOND GRID COLUMN-->
      <div class="episodes__number">
        <span>1</span>
      </div>

      <!--THIRD GRID COLUMN-->
      <div class="episodes__title-wrapper">
        <div class="episodes__title episodes__title--main">
          Modern List UI Design
        </div>
        <div class="episodes__title episodes__title--secondary">
          日本語で何か
        </div>
        <div class="episodes__title" [ngClass]="{ 'episodes__title--not-watched' : false, 'episodes__title--watched-on': true  }">
          Watched on 28/02/2024
        </div>
      </div>

      <!--FOURTH GRID COLUMN-->
      <div class="episodes__buttons-wrapper">
        <div class="episodes__button episodes__button--delete">
          <span>Delete</span>
        </div>
        <div class="episodes__button episodes__button--save">
          <span>Watched</span>
        </div>
      </div>

    </div>




  </div>

</div>
