.datepicker .mat-form-field {
  width: 100%;
}

.datepicker .mat-form-field-infix {
  border-top: 0;  
}

.datepicker .mat-form-field-underline {
  display: none;
}

.datepicker .mat-form-field-wrapper{
    padding: 0;
    height: 100%;
}

.datepicker .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 3px 0 0 0;
  height: 100%
}

.datepicker .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: initial;
}

.datepicker .mat-form-field-label-wrapper{
    display:none;
}

.datepicker .input.mat-input-element{
    margin-top: 0!important;
}

.global-edit__calendar .mat-form-field {
  width: initial;
}

.global-edit__calendar .mat-form-field-infix {
  color: rgb(var(--color-text-highlight));
  border-top: 0;
  width: 100% !important;
}

.global-edit__calendar .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0;
}
