.base-form-component {
  height: 42px;
  background: rgb(var(--color-background));
  min-width: 150px;
  border-radius: 6px;
}

.base-form-icon {
  width: 1rem;
  margin-top: -2px;
  color: rgb(var(--color-text-normal), .7);
}

.background {
  background: rgb(var(--color-background));
}

.foreground {
  background: rgb(var(--color-foreground));
}
