
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mat-form-field-infix {
  color: rgb(var(--color-text-normal), .7);
  font-size: 14px !important;
  font-weight: 500;
  font-family: var(--font-family-secondary);
}

.mat-input-element {
  caret-color: rgb(var(--color-text-normal), .7);
}
