
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mat-form-field-infix {
  color: rgb(var(--color-text-normal), .7);
  font-size: 14px !important;
  font-weight: 500;
  font-family: var(--font-family-secondary);
}

.ranking .mat-form-field {
  width: 100%;
  height: 100%
}

.ranking .mat-form-field-infix {
  border-top: 0;
}

.ranking .mat-form-field-appearance-legacy {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.ranking .mat-form-field-flex {
  align-items: center !important;
}
