@use "sass:selector";

.show-buttons {
  position: absolute;
  top: 15px;
  right: 15px;

  @at-root &__item--main {
    margin-bottom: 7px;
  }

  @at-root &__item {
    height: 25px;
    width: 25px;
    background: rgb(18, 25, 43);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    opacity: 75%;
    color: rgb(220, 237, 250);
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.25s;
      opacity: 100%;
    }
  }

  @at-root ::ng-deep &__item--tooltip {
    background: rgba(18, 25, 43, .85);
    color: rgb(220, 237, 250);
    font-size: 9px;
    font-family: var(--font-family-tertiary);
    font-weight: 700;
    border-radius: 4px;
    padding: 3px 8px;
  }

  @at-root &__icon--s {
    width: .5rem;
  }

  @at-root &__icon--m {
    width: .6rem;
  }

  @at-root &__icon--l {
    width: .7rem;
  }

  @at-root &__icon--xl {
    width: .9rem;
  }
}


