
.g-divider {
  background-image: linear-gradient(90deg,transparent,rgb(var(--color-text-highlight)),transparent);
  background-color: transparent;
  height: 1px;
  opacity: 1;
  margin: .4em 0;
  width: 50%;
}
