@mixin skeleton {
  animation: skeleton 2s linear infinite;
  background: linear-gradient(90deg,rgba(var(--color-skeleton-outer),0) 0,rgba(var(--color-skeleton-center),.07) 40%,rgba(var(--color-skeleton-center),.07) 60%,rgba(var(--color-skeleton-outer),0));
  content: "";
  display: block;
  height: 100%;
  transform: translateX(0);
  width: 200%
}

@mixin skeleton-animation{
    @keyframes skeleton{        
      0% {
        transform: translateX(-100%)
      }

      to {
        transform: translateX(50%)
      }
    }


}
