.tooltip-inner {
  padding: 3px 8px;
  border-radius: 4px;
  background: rgb(18, 25, 43);
  color: rgb(220, 237, 250);
  font-size: 9px;
  font-family: var(--font-family-tertiary);
  font-weight: 700;
}
