@use '../../assets/scss/_container.scss';
/*@use '../../assets/scss/_show-visualization.scss';*/
@use '../../assets/scss/_show-buttons.scss';


.temp-btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.filter-wrap {
  display: grid;
  grid-template-columns: auto 42px;
  padding: 60px 0 30px 0;
  grid-gap: 100px;
  align-items: end;

  @media screen and (max-width: 1040px) {
    & {
      padding: 30px 0 15px 0;
      grid-gap: 20px;
    }
  }
}

.filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  @media screen and (max-width: 1040px) {
    & {
      display: block;
    }
  }

  @at-root &__item {
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 700;

    @media screen and (max-width: 1040px) {
      &:not(.searchbar) {
        display: none;
      }
    }
  }

  @at-root &__name {
    color: rgb(var(--color-text-highlight));
    margin-bottom: 3px;
    user-select: none;
    height: 24px;

    @media screen and (max-width: 1040px) {
      &.searchbar {
        height: initial;
        font-size: 2.3rem;
        content: 'Search';
      }
    }
  }

  @at-root &__field {
    box-shadow: var(--box-shadow);
    height: 42px;
  }
}

.extra-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-text-highlight));
  cursor: pointer;
  background: rgb(var(--color-foreground));
  width: 42px;
  height: 42px;
  border-radius: 6px;
  margin-top: 25px;
  box-shadow: var(--box-shadow);
  transition: .25s;

  @media screen and (min-width: 1040px) {
    &:hover {
      color: rgb(var(--background-active-item));
      transition: .25s
    }
  }

  @at-root &--active {
    color: rgb(var(--background-active-item));
  }
}

.filter-mobile {
  display: none;

  @media screen and (max-width: 1040px) {
    & {
      display: flex;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
      white-space: nowrap;
      margin-bottom: 15px;
    }
  }

  @at-root &__item {
    font-family: var(--font-family-secondary);
    font-size: 12px;
    font-weight: 700;
  }

  @at-root &__item:not(:last-child){
      margin-right: 15px;
  }

  @at-root &__name {
    color: rgb(var(--color-text-highlight));
    margin-bottom: 3px;
    user-select: none;
    height: 24px;

    @media screen and (max-width: 1040px) {
      &.searchbar {
        height: initial;
        font-size: 2.3rem;
        content: 'Search';
      }
    }
  }

  @at-root &__field {
    box-shadow: var(--box-shadow);
    height: 42px;
  }
}

.sliders {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 150px 150px 150px;
  justify-content: end;
  margin-bottom: 15px;

  @media screen and (max-width: 1040px) {
    & {
      display: none;
    }
  }
}

