<div class="footer">  
  <div class="footer__container">
    <div class="footer__info">
      <div>
        Made with <span style="color:red">&#10084;</span> by Luca Gazzardi
      </div>
      <div class="footer__link-wrapper">
        <a class="footer__link" target="_blank" href="https://github.com/lucagazzardi">
          Github
        </a>
        <a class="footer__link" target="_blank" href="https://www.instagram.com/imgazza/">
          Instagram
        </a>
      </div>
    </div>
  </div>
</div>
